{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Examples</h2>
    <div class="row">
        {% for example in examples %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ example.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ example.ready }}
                </h5>
                <p class="card-text">
                    Body: {{ example.body }}
                </p>
                <p class="card-text">
                    Amount: {{ example.amount }}
                </p>
                <a href="/examples/{{ example.id }}" class="btn btn-info">
                    View {{ example.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}