{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <div class="card mb-12" style="max-width: 1200px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="{{ game.img }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">{{ game.name }}</h5>
                  <p class="card-text">Description: {{ game.description }}</p>
                  <p class="card-text">System: {{ game.system }}</p>
                  <p class="card-text">Genres: {{ game.genres | join: ", "}}</p>
                  <p class="card-text">Creators: {{ game.creators | join: ", " }}</p>
                  <p class="card-text">{{ game.publisher }}</p>
                  <p class="card-text">{{ game.types | join: ", "}}</p>
                  <p class="card-text">Players: {{ game.players }}</p>
                  {% if game.owner == userId %}
                  <div class="btn group">
                    <a href="/games/{{ game.id }}/edit" class="btn btn-primary">Edit</a>
                    <form action="/games/{{ game.id }}?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                {% endif %}
                <div class="col-md-6">
                  <form action="/comments/{{game.id}}" method="POST">
                      <fieldset>
                          <legend>Add Comment</legend>
                          <label class="form-label">Comment: </label>
                          <input type="text" class="form-control" name="note" placeholder="enter comment here...">
                      </fieldset>
                      <input type="submit" class="btn btn-success" value="Add Comment">
                  </form>
              </div>
               <!-- we need an if statement -->
        <!-- this will solve a potential problem -->
        <!-- if the game has no comments, we wont even try to show any -->
        {% if game.comments.length > 0%}
        <!-- here we'll add our comment container -->
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- here we need to loop over the comments -->
                <!-- for every comment render a comment.liquid block -->
                {% for comment in game.comments %}
                    {% render '../comment.liquid', comment: comment, userId: userId, game: game %}
                {% endfor %}
                </div>
            </div>
          </div>
        {% endif %}
        </div>  
    </article>
</div>
{% endblock %}

